$primary: #69DC80;

$bright:  #FF5E99;
$pink:    #FF5E99;

$yellow:  #FFB900;

$light:   #ACACAC;

$gray:    #8592AD;

$dark:    #2A2E43;

$white:   #ffffff;

$light-line: #F4F4F6;

$light-background: #EFEFEF;
