<ion-header>

  <ion-navbar>
    <ion-title>提交订单</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-item *ngIf="isSelectOneAddress==false">
        <button ion-button block round color="primary" outline (click)="pushChooesAddressPage()">
          <ion-icon name="add"></ion-icon> 选择收货地址
        </button>
      </ion-item>
      <ion-item *ngIf="isSelectOneAddress==true">
        <h3>{{addressData?.consigneeAddress}}</h3>
        <p>{{addressData?.consigneeName}}({{addressData?.consigneeGender}})  {{addressData?.consigneePhoneNumber}}</p>
        <button ion-button item-end clear icon-only (click)="pushChooesAddressPage()">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <h2 item-start>立即送出</h2>
        <p ion-text color="primary">(大约 20 分钟)</p>
        <button ion-button item-end clear icon-only>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list no-lines>
        <ion-item *ngFor="let g of cartList">
          <ion-thumbnail item-start>
            <img [src]="hostsURL + g?.ordersProductPictureURL">
          </ion-thumbnail>
          <h3>{{g?.ordersProductName}}</h3>
          <p>x{{g?.ordersProductAmount}}</p>
          <h2 item-end ion-text>￥{{g?.ordersProductPrice*g?.ordersProductAmount}}</h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <p item-start>配送费</p>
          <h3 item-end>￥{{shippingCharge}}</h3>
        </ion-item>
        <ion-item>
          <p item-start>包装费</p>
          <h3 item-end>￥2</h3>
        </ion-item>
        <ion-item>
          <p item-end>小计</p>
          <h2 ion-text color="danger" item-end>￥ {{paySum}}</h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <div class="carts-box">
    <div class="right" (click)="submitOrder()">提交订单</div>
  </div>
</ion-footer>
