page-order {

  @import '../../assets/scss/color.scss';

  $map_height: 500px;
  $order_process_card_height: 100px;
  $order_process_card_margin_top: 450px;
  $gary_background_height:
    $order_process_card_margin_top + $order_process_card_height - $map_height;
  $card_left_and_right_margin:  12px;

  .top-blank {
    width: 100%;
    height: 20px;
    background-color: $primary;
  }

  .header-container {
    width: 100%;
    height: 44px;
    display: flex;
    padding: 12px 20px;
    align-items: center;
    background-color: $primary;

    .close-icon-container {
      flex: none;
      margin-top: 4px;
      margin-right: 18px;
      font-size: 22px;
      font-weight: bold;
      color: $white;
    }

    .rating-txt-container {
      flex: 1;
      font-size: 21px;
      font-weight: 500;
      color: $white;
    }
  }

    .map_container {
      width: 100%;
      height: $map_height;
      position: absolute;
      top: 0px;
      z-index: -1;
    }

    .gary-background {
      width: 100%;
      height: $gary_background_height;
      position: absolute;
      top: $map_height;
      z-index: -1;
      background-color: $light-background;
    }

    .order-process-card {
      margin:
      $order_process_card_margin_top $card_left_and_right_margin 0px $card_left_and_right_margin;
      height: $order_process_card_height;
      padding: 12px;
      border-radius: 6px;
      background-color: #fff;
      .row-container {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        .row {
          width: 100%;
          height: auto;
          display: flex;
          .row-left {
            flex: 1;
            margin-left: 16px;
            font-size: 16px;
            font-weight: 500;
            color: $dark;
          }
          .cancel-order-button {
            flex: none;
            width: auto;
            height: auto;
            border: 1px solid $gray;
            border-radius: 6px;
            margin-right: 12px;
            padding: 5px 8px;
            font-size: 15px;
            color: $dark;
          }
          .rating-button {
            flex: none;
            width: auto;
            height: auto;
            border-radius: 6px;
            margin-right: 14px;
            padding: 5px 23px;
            background-color: $primary;
            font-size: 15px;
            color: $white;
          }
        }
      }
    }

  .processing-order-process-card {
    padding: 12px;
    border-radius: 6px;
    background-color: #fff;
    .row-container {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      .row {
        width: 100%;
        height: auto;
        display: flex;
        .row-left {
          flex: 1;
          margin-left: 16px;
          font-size: 16px;
          font-weight: 500;
          color: $dark;
        }
        .cancel-order-button {
          flex: none;
          width: auto;
          height: auto;
          border: 1px solid $gray;
          border-radius: 6px;
          margin-right: 12px;
          padding: 5px 8px;
          font-size: 15px;
          color: $dark;
        }
        .rating-button {
          flex: none;
          width: auto;
          height: auto;
          border-radius: 6px;
          margin-right: 14px;
          padding: 5px 23px;
          background-color: $primary;
          font-size: 15px;
          color: $white;
        }
      }
    }
  }
  .content-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 11px;
    padding-bottom: 11px;
    background: $light-background;

    .order-detail-txt {
      position: relative;
      height: auto;
      margin: 16px 24px;
      font-size: 18px;
      color: $white;
    }

    .deliver-and-payment-card {
      position: relative;
      height: 108px;
      margin: 16px $card_left_and_right_margin;
      border-radius: 6px;
      background: $white;
      .row-container {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        .row {
          width: 100%;
          height: auto;
          display: flex;
          .row-left {
            flex: 1;
            margin-left: 16px;
            font-size: 16px;
            font-weight: 500;
            color: $dark;
          }
          .row-right {
            flex: none;
            margin-right: 16px;
            font-size: 16px;
            color: $primary;
          }
        }
      }
    }

    .order-list-card {
      position: relative;
      height: auto;
      margin: 16px $card_left_and_right_margin;
      padding-top: 11px;
      border-radius: 6px;
      background: $white;
      .shop-name {
        width: 100%;
        margin: 0px 18px 11px 18px;
        font-size: 16px;
        font-weight: 600;
        color: $dark;
      }
      .diviling-line {
        height: 1px;
        margin: 11px 18px 0px 18px;
        background-color: $light-line;
      }

      .commodity-container {
        margin: 11px 18px;
        height: 56px;
        display: flex;
        align-items: center;
        .commodity-img {
          flex: 1;
          width: 56px;
          height: 56px;
        }
        .commodity-img img {
          width: 56px;
          height: 56px;
          border-radius: 12px;
          object-fit: cover;
        }
        .commodity-name {
          flex: 1;
          margin-left: 18px;
          font-size: 16px;
          color: $dark;
        }
        .commodity-number {
          flex: 1;
          margin-left: 18px;
          font-size: 16px;
          color: $dark;
        }
        .commodity-total-price {
          flex: none;
          margin-left: 26px;
          font-size: 16px;
          color: $bright;
        }
      }

      .item-container {
        margin: 11px 18px;
        height: auto;
        display: flex;
        align-items: center;
        .item-title {
          flex: 1;
          font-size: 16px;
          color: $dark;
        }
        .item-content {
          flex: none;
          font-size: 16px;
          color: $bright;
        }
      }

      .red-envelope-container {
        margin: 11px 18px;
        height: auto;
        display: flex;
        align-items: center;
        .red-envelope-title {
          flex: 1;
          font-size: 16px;
          font-weight: 600;
          color: $dark;
        }
        .no-red-envelope {
          flex: none;
          font-size: 14px;
          color: $light;
        }
      }

      .total-price-container {
        height: 54px;
        margin: 0px 18px;
        display: flex;
        align-items: center;
        .total-price-row {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .total-price-title {
            flex: none;
            font-size: 16px;
            font-weight: 600;
            color: $dark;
          }
          .total-price {
            flex: none;
            margin-left: 39px;
            font-size: 16px;
            color: $bright;
          }
        }
      }
    }

    .order-note-card {
      position: relative;
      height: auto;
      margin: 16px $card_left_and_right_margin;
      padding: 20px;
      border-radius: 6px;
      background: $white;
      .order-note-title {
        font-size: 18px;
        font-weight: 600;
        color: $dark;
      }
      .order-note {
        margin-top: 16px;
        margin-left: 4px;
        font-size: 16px;
        color: $light;
      }
    }
  }


}
