page-list {

  @import '../../assets/scss/color.scss';

  .top-blank {
    width: 100%;
    height: 20px;
    background-color: $primary;
  }

  //顶部导航
  .header-container {
    width: 100%;
    display: flex;
    padding: 12px 20px;
    align-items: center;
    background-color: $primary;
    .header-title {
      font-size: 21px;
      font-weight: 600;
      color: $white;
    }
  }

  //加载中显示
  .loading {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    .loading-txt {
      font-size: 18px;
      color: $dark;
    }
  }

  //出现异常时显示
  .error-content-container {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;

    .error-container {
      width: 100%;
      height: auto;

      .error-message-container {
        width: 100%;
        display: flex;
        justify-content: center;
        .error-message {
          width: auto;
          height: auto;
          font-size: 18px;
          color: $dark;
        }
      }

      .deal-button-container {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .deal-button {
          width: auto;
          height: auto;
          border-radius: 12px;
          padding: 10px 50px;
          background-color: $primary;
          font-size: 18px;
          color: $white;
        }
      }
    }
  }

  //内容
  .order-container {
    width: 100%;
    .order-card {
      display: flex;
      height: 168px;
      margin-top: 10px;
      margin-left: 21px;
      margin-right: 21px;
      border-radius: 12px;
      box-shadow: 0 3px 6px rgba(69, 91, 99, .16);
      .order-card-img-container {
        flex: none;
        height: 100%;
        margin-top: 13px;
        margin-right: 13px;
        margin-left: 11px;
      }
      .order-card-img-container img {
        width: 64px;
        height: 64px;
        border-radius: 12px;
      }
      .order-card-information-container {
        flex: 1;
        .order-card-information-container-first-row {
          display: flex;
          width: 100%;
          margin-top: 20px;
          .order-card-shop-name {
            flex: 1;
            font-size: 18px;
            color: $dark;
          }
          .order-card-order-status {
            flex: none;
            margin-right: 12px;
            font-size: 18px;
            color: $dark;
          }
        }
        .order-card-information-container-second-row {
          display: flex;
          width: 100%;
          margin-top: 42px;
          .order-card-commodity-name {
            flex: 1;
            font-size: 14px;
            color: $dark;
            .order-card-commodity-statistics {
              margin-left: 17px;
            }
          }
          .order-card-total-price {
            flex: none;
            margin-right: 12px;
            font-size: 14px;
            font-weight: 600;
            color: $dark;
          }
        }
        .order-card-information-container-third-row {
          display: flex;
          width: 100%;
          height: 31px;
          margin-top: 20px;
          justify-content: flex-end;
          .order-card-once-again-button {
            flex: none;
            width: auto;
            height: auto;
            border: 1px solid $gray;
            border-radius: 6px;
            margin-right: 12px;
            padding: 5px 8px;
            font-size: 15px;
            color: $dark;
          }
          .order-card-cancel-order-button {
            flex: none;
            width: auto;
            height: auto;
            border: 1px solid $gray;
            border-radius: 6px;
            margin-right: 12px;
            padding: 5px 8px;
            font-size: 15px;
            color: $dark;
          }
          .order-card-rating-button {
            flex: none;
            width: auto;
            height: auto;
            border-radius: 6px;
            margin-right: 14px;
            padding: 5px 23px;
            background-color: $primary;
            font-size: 15px;
            color: $white;
          }
        }
      }
    }
  }

}
