<ion-content no-padding overflow-scroll="false">
  <!--左侧商品类型导航-->
  <div class="type-list-wrap">
    <ion-list no-lines>
      <button ion-item *ngFor="let gType of shopData?.shopProductClass">
            {{gType?.shopProductClassName}}
          </button>
    </ion-list>
  </div>
  <!--右侧商品列表-->
  <div class="goods-list-wrap">
    <div class="list-scroll">
      <ion-list no-lines *ngFor="let gType of shopData?.shopProductClass">
        <h4 class="items-title">{{gType?.shopProductClassName}}</h4>
        <ion-item *ngFor="let g of gType.product">
          <div class="img-wrap" item-start>
            <img class="img" width="57" height="57" [src]="hostsURL + g?.productPictureURL">
          </div>
          <div class="info-wrap">
            <h3 class="title">{{g?.productName}}</h3>
            <P class="desc">{{g?.productDescription}}</P>
            <p class="feed">
              <span class="txt">月售{{g?.productMonthlySales}}份</span>
              <span class="txt">{{g?.productVoteUpCount}}赞</span>
            </p>
            <div class="price">
              <span class="now">
                  <b class="sign">￥</b>
                  <span class="num">{{g?.productPrice}}</span>
              </span>
              <span class="unit">
                  <b class="sign">/</b>
                  <span class="num">{{g?.productUnit}}</span>
              </span>
            </div>
            <div class="btns-wrap">
              <div class="btn-left" *ngIf="g?.inCartNumber > 0">
                <button ion-button icon-only clear (click)="onRemoveChage(g)">
                      <ion-icon name="ios-remove-circle-outline"></ion-icon>
                    </button>
                <span class="num">{{g?.inCartNumber}}</span>
              </div>
              <button ion-button icon-only clear (click)="onAddChange(g)">
                      <ion-icon name="ios-add-circle"></ion-icon>
                  </button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="carts-mark" *ngIf="cartFlag">
    <div class="carts-list">
      <div class="settings">
        <span class="txt">购物车</span>
        <span class="btn" (click)="onDeleteAllCartGoods()">清空</span>
      </div>
      <div class="list">
        <ul>
          <li class="item bd" *ngFor="let gl of cartGoodsList">
            <div class="left">{{gl.ordersProductName}}</div>
            <div class="right">
              <span class="price-wrap">
              <span class="sign">￥</span>
              <span class="price">{{gl.ordersProductPrice}}</span>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="carts-box">
    <div class="left" [ngClass]="{on: calcTotal().totalNum}" (click)="openCartToggle()">
      <div class="cart">
        <ion-icon name="cart"></ion-icon>
        <span class="num" *ngIf="calcTotal().totalNum">{{calcTotal().totalNum}}</span>
      </div>
      <div class="price">
        <span class="money">￥{{calcTotal().totalMoney}}</span>
        <span class="line"></span>
        <span class="plus">另需配送费￥{{shopData?.sellerShopShippingCharge}}元</span>
      </div>
    </div>
    <div class="right" [ngClass]="{on: calcTotal().totalMoney >= shopData?.sellerShopStartShippingLimit}" (click)="pushPayPage()">{{calcTotal().totalMoney >= shopData?.sellerShopStartShippingLimit ? '去结算' : changeTxt()}}</div>
  </div>
</ion-footer>
