<ion-header>
  <ion-navbar>
    <ion-title>家门好</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let shop of allShopData">
    <ion-card-content padding>
        <ion-item (click)="pushOneShop(shop.sellerID)">
          <ion-thumbnail item-left>
            <img *ngIf="shop?.sellerShopLogoURL==''" [src]="hostsURL + 'avatar.jpg'">
            <img *ngIf="shop?.sellerShopLogoURL!=''" [src]="hostsURL + shop?.sellerShopLogoURL">
          </ion-thumbnail>
          <h1>{{shop?.sellerShopName}}</h1>
        <p>起送 ￥ {{shop?.sellerShopStartShippingLimit}} / 配送 ￥ {{shop?.sellerShopShippingCharge}}</p>
        <p item-end>月售 : {{shop?.sellerShopMonthlySales}}</p>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
