<ion-header no-border>
  <div class="header-container">
    <div class="address-icon-container">
      <ion-icon name="pin"></ion-icon>
    </div>
    <div class="address-txt-container">
      {{location}}
    </div>
    <!--<div class="searchbar-container">
      <div class="searchbar">
        <div class="searchbar-icon">
          <ion-icon name="ios-search"></ion-icon>
        </div>
        <div class="searchbar-txt">
          搜索
        </div>
      </div>
    </div>-->
  </div>
</ion-header>

<ion-content>
  <super-tabs scrollTabs="true" toolbarBackground="white" no-shadow *ngIf="status=='存在相关数据'">
    <super-tab 
      [root]="class.page"
      [title]="class.shopProductClassName"
      [rootParams]="{'commodity': class.product}"
      *ngFor="let class of shopCommodityClass">
    </super-tab>
  </super-tabs>
</ion-content>
