<ion-header no-border>
  <div class="nav-warp">

  </div>
</ion-header>

<ion-content>
  <ion-card *ngIf="islogined==false">
    <ion-card-content>
      <ion-item no-lines (click)="pushLoginPage()">
        <ion-avatar item-start>
          <img src="../../assets/imgs/uncomfortable.jpg">
        </ion-avatar>
        <h2 subitem-title text-wrap>请登录</h2>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="islogined">
    <ion-card-content>
      <ion-item no-lines (click)="pushUserdataPage()">
        <ion-avatar item-start>
          <img [src]="hostsURL + 'avatar.jpg '">
        </ion-avatar>
        <h2 subitem-title text-wrap>{{userData.buyerUserName}}</h2>
        <h3 subitem-subtitle text-wrap>个人信息</h3>
        <button ion-button icon-only item-end clear>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      收货地址
    </ion-card-header>
  </ion-card>

</ion-content>
